<div class="parent">
  <div class="box">
    <h1 class="title">LOGIN</h1>
    <form #formSubmit="ngForm" (ngSubmit)="submit(formSubmit)">
      <div class="input-group">
        <label for="email" class="label">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="off"
          ngModel
          #email="ngModel"
          class="input-field"
          required
        />
      </div>

      <div class="input-group">
        <label for="password" class="label">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          autocomplete="off"
          ngModel
          #password="ngModel"
          class="input-field"
          required
        />
      </div>

      <div class="form-footer">
        <input type="submit" value="Login" class="submit-btn" />
      </div>

      <div class="register-link">
        Don't have an account?
        <a routerLink="/register" class="link">Register here</a>
      </div>
    </form>
  </div>
</div>
