<div class="container2">
  <H3 class="my-2">CALENDER</H3>
  <hr />
  <section class="date-section">
    <div class="date-display">
      <b>{{ displayDate | date : "d MMMM Y" }}</b
      ><br />
      <b>{{ displayDate | date : "EEEE" }}</b>
    </div>

    <div class="date-selection">
      <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()" />
    </div>
  </section>

  <br />

  <div class="parent">
    <section class="meeting-details">
      <div class="box" id="one">
        <p class="top-left">0</p>
      </div>

      <div class="box" id="two">
        <p class="top-left">1</p>
      </div>
      <div class="box" id="three">
        <p class="top-left">2</p>
      </div>
      <div class="box" id="four">
        <p class="top-left">3</p>
      </div>
      <div class="box" id="five">
        <p class="top-left">4</p>
      </div>
      <div class="box" id="six">
        <p class="top-left">5</p>
      </div>
      <div class="box" id="seven">
        <p class="top-left">6</p>
      </div>
      <div class="box" id="eight">
        <p class="top-left">7</p>
      </div>
      <div class="box" id="nine">
        <p class="top-left">8</p>
      </div>
      <div class="box" id="ten">
        <p class="top-left">9</p>
      </div>
      <div class="box" id="eleven">
        <p class="top-left">10</p>
      </div>
      <div class="box" id="twelve">
        <p class="top-left">11</p>
      </div>
      <div class="box" id="thriteen">
        <p class="top-left">12</p>
      </div>
      <div class="box" id="fourteen">
        <p class="top-left">13</p>
      </div>
      <div class="box" id="fiveteen">
        <p class="top-left">14</p>
      </div>
      <div class="box" id="sixteen">
        <p class="top-left">15</p>
      </div>
      <div class="box" id="seventeen">
        <p class="top-left">16</p>
      </div>
      <div class="box" id="eighteen">
        <p class="top-left">17</p>
      </div>
      <div class="box" id="nineteen">
        <p class="top-left">18</p>
      </div>
      <div class="box" id="twenty">
        <p class="top-left">19</p>
      </div>
      <div class="box" id="tone">
        <p class="top-left">20</p>
      </div>
      <div class="box" id="ttwo">
        <p class="top-left">21</p>
      </div>
      <div class="box" id="tthree">
        <p class="top-left">22</p>
      </div>

      <div class="box" id="tthree">
        <p class="top-left">23</p>
      </div>
    </section>

    <section class="data-display">
      <!--    
      <ng-container>
        <div *ngFor="let field of ICalender">
          <div
            class="meeting-box"
            [ngStyle]="{ 'background-color': 'gray', margin: '5px' }"
          >
            <span>
              <div>
                <p>{{ field.name }}</p>
              </div>
            </span>
            <span>
              <div class="attendees-container">
                <div *ngFor="let attendee of field.attendees">
                  <p>
                    <span class="attendee-email">{{ attendee.email }}</span>
                  </p>
                </div>
              </div>
            </span>
          </div>
        </div>
      </ng-container>
    --></section>
  </div>
</div>
