<div class="container">
  <h3>Teams</h3>
  <hr />
  <h6>View and edit teams you are part of</h6>

  <div class="row g-4">
    <div *ngFor="let t of teams" class="col-12 col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ t.name }}</h5>
          <h6 class="card-title">&#64;{{ t.shortName }}</h6>
          <p class="card-text">
            {{ t.description }}
          </p>
          <button class="btn btn-danger" (click)="excuseYourself(t._id)">
            Excuse Yourself
          </button>
          <hr />
          <span><b>Members:</b></span>
          <span *ngFor="let i of t.members">{{ i.email }}</span>
        </div>
        <div>
          <select name="members" id="" class="my-2" [(ngModel)]="memberId">
            <option value="selectMember">Select Member</option>
            <option *ngFor="let user of allUsers" [value]="user.id">
              {{ user.email }}
            </option>
          </select>
          <span class="mx-2"
            ><input type="submit" value="Add" class="bt"
          /></span>
        </div>
      </div>
    </div>
  </div>
</div>
