<div class="container">
  <h3>Teams</h3>

  <hr />

  <p>view and edit teams you are part of</p>
  <div class="row">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Customer acqusition campaign</h5>
        <h6 class="card-title">&#64;customer-acqusition</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
        </p>
        <a href="#" class="btn btn-danger">Excuse Yourself</a>
        <hr />
        <span><b>Members:</b>johnexample.com,janeexample.com</span>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Customer acqusition campaign</h5>
        <h6 class="card-title">&#64;customer-acqusition</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
        </p>
        <a href="#" class="btn btn-danger">Excuse Yourself</a>
        <hr />
        <span><b>Members:</b>johnexample.com,janeexample.com</span>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Customer acqusition campaign</h5>
        <h6 class="card-title">&#64;customer-acqusition</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
        </p>
        <a href="#" class="btn btn-danger">Excuse Yourself</a>
        <hr />
        <span><b>Members:</b>johnexample.com,janeexample.com</span>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Customer acqusition campaign</h5>
        <h6 class="card-title">&#64;customer-acqusition</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
        </p>
        <a href="#" class="btn btn-danger">Excuse Yourself</a>
        <hr />
        <span><b>Members:</b>johnexample.com,janeexample.com</span>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Customer acqusition campaign</h5>
        <h6 class="card-title">&#64;customer-acqusition</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
        </p>
        <a href="#" class="btn btn-danger">Excuse Yourself</a>
        <hr />
        <span><b>Members:</b>johnexample.com,janeexample.com</span>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Customer acqusition campaign</h5>
        <h6 class="card-title">&#64;customer-acqusition</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
        </p>
        <a href="#" class="btn btn-danger">Excuse Yourself</a>
        <hr />
        <span><b>Members:</b>johnexample.com,janeexample.com</span>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Customer acqusition campaign</h5>
        <h6 class="card-title">&#64;customer-acqusition</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
        </p>
        <a href="#" class="btn btn-danger">Excuse Yourself</a>
        <hr />
        <span><b>Members:</b>johnexample.com,janeexample.com</span>
      </div>
    </div>
  </div>
</div>
