.team-list {
  display: flex;
  flex-direction: row;
}
.card {
  margin-right: 60px;
  margin-bottom: 20px;
}
.btn {
  border-radius: 0;
}

.bt {
  background-color: #63bccb;
  padding: 7px 10px;
}
select {
  padding: 7px;
}
