<div class="parent">
  <div class="container">
    <div class="inside-container">
      <form #formSubmit="ngForm" (ngSubmit)="submit(formSubmit)">
        <h1>REGISTER HERE</h1>

        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            autocomplete="off"
            ngModel
            #name="ngModel"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="off"
            ngModel
            #email="ngModel"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            autocomplete="off"
            ngModel
            #password="ngModel"
            required
          />
        </div>

        <div class="form-group">
          <label for="password2">Confirm Password:</label>
          <input
            type="password"
            name="password2"
            id="password2"
            autocomplete="off"
            ngModel
            #password2="ngModel"
            required
          />
        </div>

        <div class="form-group">
          <input type="submit" value="Submit Now" />
        </div>

        <div class="login-link">
          Already have an account? <a routerLink="/login">Login here</a>
        </div>
      </form>
    </div>
  </div>
</div>
