.container {
  background-color: #63bccb;
  color: black;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.container-2 {
  background-color: white;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  width: 100%;
}
h3 {
  color: black;
}

.card-body {
  background-color: white;
}

.btn {
  border-radius: 0;
}

.bt {
  background-color: #63bccb;
  padding: 7px 10px;
}
select {
  padding: 7px;
}
