<div class="container">
  <h3>Add a new meeting</h3>
  <hr />
  <form #addMeeting="ngForm" (ngSubmit)="addTheMeeting(addMeeting)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        ngModel
        #name="ngModel"
        required
        placeholder="name of todays meaning"
      />
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        ngModel
        #date="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="start">Start Time(hh:mm)</label>
      <br />
      <span>
        <input
          type="number"
          name="startHr"
          id="startHr"
          ngModel
          #startHr="ngModel"
        />
      </span>
      :
      <span>
        <input
          type="number"
          id="startMin"
          name="startMin"
          ngModel
          #startMin="ngModel"
        />
      </span>
    </div>

    <div class="form-group">
      <label for="end">End Time</label>
      <br />
      <span>
        <input type="number" id="endHr" name="EndHr" ngModel #EndHr="ngModel" />
      </span>
      :
      <span>
        <input
          type="number"
          id="endMin"
          name="endMin"
          ngModel
          #EndMin="ngModel"
        />
      </span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="2"
        placeholder="agenda for todays meeting"
        ngModel
        #description="ngModel"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="teams">Email Ids of attendees, or team's short</label>
      <input
        type="text"
        class="form-control"
        id="teams"
        name="teams"
        ngModel
        #teams="ngModel"
        placeholder="asmita@example.com, jayanthkumar598@gmail.com, prasad598@gmail.com,"
      />
    </div>

    <button type="submit" class="btn btn-primary my-2">Add the meeting</button>
  </form>
</div>
